# venv
.venv/
venv/

# python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# editors / OS
.vscode/
.vs/
.idea/
*.swp
.DS_Store
Thumbs.db

# local data
*.db
*.sqlite
*.sqlite3

# Flutter
**/android/.gradle/
**/android/app/build/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.apk
*.aab
